<app-nav></app-nav>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bedroom Collection</title>
    <link rel="stylesheet">
</head>
<body>

<div class="container">
    <h1 style="text-align: center; margin-top: 40px; font-size:40px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Bedroom Collection</h1>
    <div class="card-grid">
        <!-- Bedroom Cards 1 to 20 -->
        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/134/hero/gg1.jpg" alt="Bedroom Set 1" class="card-img">
            <!-- <h2><a href="/bed1" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="room1()"> Orthopaedic Bed with Mattress Queen Size</button>

            

            
            <button class="btn-buy">Rs 4000</button>
        </div>
        
        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/6967/hero/gallery_1.jpg" alt="Bedroom Set 2" class="card-img">

            <!-- <h2><a href="/bed2" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="room2()">Stanz Double Bed with 4 Inch Premium Mattress</button>


            <button class="btn-buy">Rs 6000</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r1/products/3828/gallery_1.jpg" alt="Bedroom Set 3" class="card-img">
           
            <!-- <h2><a href="/bed3" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="room3()">Mojave Queen Bed with 6" Premium Queen Mattress</button>
            <button class="btn-buy">Rs 8490</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/3461/gallery_1.jpg" alt="Bedroom Set 4" class="card-img">
            <!-- <h2><a href="/bed4" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="room4()">Blanca Engineered Wood Queen Bed with 6" Premium Mattress</button>

            <button class="btn-buy">Rs 7490 </button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/6031/hero/1709238202.jpg" alt="Bedroom Set 5" class="card-img">
            <!-- <h2><a href="/bed5" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="room5()">Blanca Engineered Wood Single Bed with 6" Premium Mattress</button>

            <button class="btn-buy">Rs 8800</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products_v3/3491/gallery_1.jpg" alt="Bedroom Set 6" class="card-img">
            <!-- <h2><a href="/bed6" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="room6()">Haimish Engineered Wood King Bed with 6" Premium Mattress</button>


            <button class="btn-buy">Rs 3000</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/3467/gallery_1.jpg" alt="Bedroom Set 7" class="card-img">
            <!-- <h2><a href="/bed7" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="room7()">Bordo Solid Wood Queen Bed with 6" Premium Mattress</button>


            <button class="btn-buy">Rs2000</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/6549/hero/gallery_1.jpg" alt="Bedroom Set 8" class="card-img">
            <!-- <h2><a href="/bed8" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="room8()">LIT Double Bed with 4 Inch Premium Mattress</button>


            <button class="btn-buy">1499</button>
        </div>

    </div>
</div><br><br>
<app-footer></app-footer>
</body>
</html>