* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container {
    background-color: #9A7E6F;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
  
    margin-top: 30px;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: bold;
}

.profile-info {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ensure profile info takes full width */
}

.profile-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: #eee;
}

.form-control {
    color: #fff;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
}

.edit-button {
    background-color: #3d2f2f;
    color: #ffffff;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.edit-button:hover {
    background-color: #333;
}
