<app-nav></app-nav>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection</title>
    <link rel="stylesheet">
</head>
<body>

<div class="container">
    <h1 style="text-align: center; margin-top: 40px; font-size:40px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Storage Collection</h1>
    <div class="card-grid">
        <!-- Bedroom Cards 1 to 20 -->
        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/198/gallery_1.jpg" alt="Bedroom Set 1" class="card-img">
            <button class="btn-buy" (click)="store1()">Bianca Engineered Wood 2 Door Wardrobe with Mirror in Ivory White Finish</button>

            <!-- <button><a href="/store1" class="btn-buy" >Rs 409</a></button> -->
            <button class="btn-buy" (click)="store1()">23090</button>

        </div>
        
        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/3774/gallery_1.jpg" alt="Bedroom Set 2" class="card-img">
            <!-- <button><a href="/store2" class="btn-buy" >Rs 729</a></button> -->
            <button class="btn-buy" (click)="store2()">Bianca Four Door Wardrobe</button>
            <button class="btn-buy" (click)="store2()">16729</button>


        </div>

        <div class="card">
            <a href="/substorage">
                <img  src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/209/gallery_1.jpg" alt="Bedroom Set 3" class="card-img">
                <!-- <button><a href="/store3" class="btn-buy" >Rs 379</a></button> -->
                <button class="btn-buy" (click)="store3()">Fusil Engineered Wood Dressing Table in Slate Grey Finish</button>
                <button class="btn-buy" (click)="store3()">12379</button>


            </a>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/3456/gallery_1.jpg" alt="Bedroom Set 4" class="card-img">
            <!-- <button><a href="/store4" class="btn-buy" >Rs 403</a></button> -->
            <button class="btn-buy" (click)="store4()">Bianca Engineered Wood Dressing Table in Ivory White Finish</button>
            <button class="btn-buy" (click)="store4()">23403</button>


        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/211/gallery_1.jpg" alt="Bedroom Set 5" class="card-img">
            <!-- <button><a href="/store5" class="btn-buy" >Rs 352</a></button> -->
            <button class="btn-buy" (click)="store5()">Fusil Engineered Wood Shoe Rack in Slate Grey Finish</button>
            <button class="btn-buy" (click)="store5()">26352</button>


        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/3574/gallery_1.jpg" alt="Bedroom Set 6" class="card-img">
            <!-- <button><a href="/store6" class="btn-buy" >Rs 403</a></button> -->
            <button class="btn-buy" (click)="store6()">Bianca Engineered Wood Shoe Rack In Ivory White Finish</button>
            <button class="btn-buy" (click)="store6()">20400</button>


        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/203/gallery_1.jpg" alt="Bedroom Set 7" class="card-img">
            <!-- <button><a href="/store7" class="btn-buy" >Rs 483</a></button> -->
            <button class="btn-buy" (click)="store7()">Ebony Engineered Wood 2 Door Wardrobe without Mirror in Teak Finish
            </button>
            <button class="btn-buy" (click)="store7()">19400</button>


        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/201/gallery_2.png" alt="Bedroom Set 8" class="card-img">
            <!-- <button><a href="/store8" class="btn-buy" >Rs 564</a></button> -->
            <button class="btn-buy" (click)="store8()">Grig Engineered Wood 2 Door Wardrobe with Mirror in Mocha Brown Finish</button>

            <button class="btn-buy" (click)="store8()">19000</button>

        </div>

       
    </div>

</div><br><br>
<app-footer></app-footer>
</body>
</html>




