<app-nav></app-nav>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LivingRoom Collection</title>
    <link rel="stylesheet">
</head>
<body>

<div class="container">
    <h1 style="text-align: center; margin-top: 40px; font-size:40px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Dining Collection</h1>
    <div class="card-grid">
        <!-- Bedroom Cards 1 to 20 -->
        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/6554/hero/g1.jpg" alt="Bedroom Set 1" class="card-img">
            <!-- <h2><a href="/din1" class="btn-buy">DRIP 2 Seater Dining Set</a></h2> -->
            <button class="btn-buy" (click)="din1()">DRIP 2 Seater Dining Set</button>

            
            <button class="btn-buy">Rs 34900</button>
        </div>
        
        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/336/gallery_1.jpg" alt="Bedroom Set 2" class="card-img">
            <!-- <h2><a href="/din2" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="din2()">Pico Solid Wood 4 Seater Dining Set</button>

            <button class="btn-buy">Rs 26500</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/6969/hero/gallery_1.jpg" alt="Bedroom Set 3" class="card-img">
            <!-- <h2><a href="/din3" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="din3()">DRIP 4 Seater Dining Set</button>

            <button class="btn-buy">Rs 36290</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/6122/hero/1710335944.jpg" alt="Bedroom Set 4" class="card-img">
            <!-- <h2><a href="/din4" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="din4()">Dualo Solid Wood 4 Seater Dining cum Study Set in Deep Walnut Finish</button>

            <button class="btn-buy">Rs 19500</button>
        </div>

     


       
        
    </div>
</div><br><br>
<app-footer></app-footer>
</body>
</html>






