<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LivingRoom Collection</title>
    <link rel="stylesheet">
</head>
<body>

<div class="container">
    <h1 style="text-align: center; margin-top: 40px; font-size:40px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Bedroom Collection</h1>
    <div class="card-grid">
    
        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/222/gallery_5.jpg" alt="Bedroom Set 1" class="card-img">
            <h2><a  href="/liv1" class="btn-buy">Noah Fabric 3 Seater Sofa in Turquoise Color</a></h2>
            
            <button class="btn-buy">Rs 500/mon</button>
        </div>
        
        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/3452/gallery_1.jpg" alt="Bedroom Set 2" class="card-img">
            <h2><a href="/liv2" class="btn-buy">Stretch Leatherette Recliner in Dark Brown Color</a></h2>
            <button class="btn-buy">Rs 1110/mon</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/6752/hero/gallery_1.jpg" alt="Bedroom Set 3" class="card-img">
            <h2><a href="/liv3" class="btn-buy">Ella Fabric 3 Seater Sofa in Moroccan Blue Color</a></h2>
            <button class="btn-buy">Rs 1120/mon</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/5900/hero/1702711018.jpg" alt="Bedroom Set 4" class="card-img">
            <h2><a href="/liv4" class="btn-buy">Lana Fabric Sofa Cum Bed in Denim Blue Color</a></h2>
            <button class="btn-buy">Rs 1000/mon</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/228/gallery_2.png" alt="Bedroom Set 5" class="card-img">
            <h2><a href="/liv5" class="btn-buy">Elvis Velvet 3 Seater Sofa in Mineral Blue Color</a></h2>
            <button class="btn-buy">Rs 900/mon</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/5919/hero/1706170007.jpg" alt="Bedroom Set 6" class="card-img">
            <h2><a href="/liv6" class="btn-buy">Noah Fabric 3 Seater Sofa in Grace Denim Color</a></h2>
            <button class="btn-buy">Rs 800/mon</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/6674/hero/gallery_1.jpg" alt="Bedroom Set 7" class="card-img">
            <h2><a href="/liv7" class="btn-buy">Helio Velvet 3 Seater Sofa in Desert Rose Color</a></h2>
            <button class="btn-buy">Rs 870/mon</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/6675/hero/gallery_1.jpg" alt="Bedroom Set 8" class="card-img">
            <h2><a href="/liv8" class="btn-buy">Cleo Velvet 3 Seater Sofa in Sapphire Blue Color</a></h2>
            <button class="btn-buy">Rs 770/mon</button>
        </div>

      
        
    </div>

    
</div>

</body>
</html>




 -->


<app-nav></app-nav>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LivingRoom Collection</title>
    <link rel="stylesheet">
</head>
<body>

<div class="container">
    <h1 style="text-align: center; margin-top: 40px; font-size:40px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Bedroom Collection</h1>
    <div class="card-grid">
    
        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/222/gallery_5.jpg" alt="Bedroom Set 1" class="card-img">
            <h2><a  href="/liv1" class="btn-buy">Noah Fabric 3 Seater Sofa in Turquoise Color</a></h2>
            
            <button class="btn-buy">Rs 500/mon</button>
        </div>
        
        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/3452/gallery_1.jpg" alt="Bedroom Set 2" class="card-img">
            <h2><a href="/liv2" class="btn-buy">Stretch Leatherette Recliner in Dark Brown Color</a></h2>
            <button class="btn-buy">Rs 1110/mon</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/6752/hero/gallery_1.jpg" alt="Bedroom Set 3" class="card-img">
            <h2><a href="/liv3" class="btn-buy">Ella Fabric 3 Seater Sofa in Moroccan Blue Color</a></h2>
            <button class="btn-buy">Rs 1120/mon</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/5900/hero/1702711018.jpg" alt="Bedroom Set 4" class="card-img">
            <h2><a href="/liv4" class="btn-buy">Lana Fabric Sofa Cum Bed in Denim Blue Color</a></h2>
            <button class="btn-buy">Rs 1000/mon</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/228/gallery_2.png" alt="Bedroom Set 5" class="card-img">
            <h2><a href="/liv5" class="btn-buy">Elvis Velvet 3 Seater Sofa in Mineral Blue Color</a></h2>
            <button class="btn-buy">Rs 900/mon</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/5919/hero/1706170007.jpg" alt="Bedroom Set 6" class="card-img">
            <h2><a href="/liv6" class="btn-buy">Noah Fabric 3 Seater Sofa in Grace Denim Color</a></h2>
            <button class="btn-buy">Rs 800/mon</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/6674/hero/gallery_1.jpg" alt="Bedroom Set 7" class="card-img">
            <h2><a href="/liv7" class="btn-buy">Helio Velvet 3 Seater Sofa in Desert Rose Color</a></h2>
            <button class="btn-buy">Rs 870/mon</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/6675/hero/gallery_1.jpg" alt="Bedroom Set 8" class="card-img">
            <h2><a href="/liv8" class="btn-buy">Cleo Velvet 3 Seater Sofa in Sapphire Blue Color</a></h2>
            <button class="btn-buy">Rs 770/mon</button>
        </div>

      
        
    </div>

    
</div>

</body>
</html>




 -->


 <!DOCTYPE html>
 <html lang="en">
   <head>
     <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>Bedroom Collection</title>
     <link rel="stylesheet" />
   </head>
   <body>
     <div class="container">
       <h1
         style="
           text-align: center;
           margin-top: 40px;
           font-size: 40px;
           font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
             sans-serif;
         "
       >
         Bedroom Collection
       </h1>
       <div class="card-grid">
         <div class="card">
           <img
             src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/134/hero/gg1.jpg"
             alt="Bedroom Set 1"
             class="card-img"
           />
           <!-- <h2><a href="/bed1" class="btn-buy"></a></h2> -->
           <button class="btn-buy" (click)="bed1()">
             Orthopaedic Mattress Queen Size
           </button>
 
           <button class="btn-buy">Rs 1900/mon</button>
         </div>
 
         <div class="card">
           <img
             src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/6967/hero/gallery_1.jpg"
             alt="Bedroom Set 2"
             class="card-img"
           />
 
           <!-- <h2><a href="/bed2" class="btn-buy"></a></h2> -->
           <button class="btn-buy" (click)="bed2()">
             Stanz Double Bed with 4 Inch Premium Mattress
           </button>
 
           <button class="btn-buy">Rs 1600/mon</button>
         </div>
 
         <div class="card">
           <img
             src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r1/products/3828/gallery_1.jpg"
             alt="Bedroom Set 3"
             class="card-img"
           />
 
           <!-- <h2><a href="/bed3" class="btn-buy"></a></h2> -->
           <button class="btn-buy" (click)="bed3()">
             Mojave Queen Bed with 6" Premium Queen Mattress
           </button>
 
           <button class="btn-buy">Rs 1849/mon</button>
         </div>
 
         <div class="card">
           <img
             src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/3461/gallery_1.jpg"
             alt="Bedroom Set 4"
             class="card-img"
           />
           <!-- <h2><a href="/bed4" class="btn-buy"></a></h2> -->
           <button class="btn-buy" (click)="bed4()">
             Blanca Engineered Wood Queen Bed with 6" Premium Mattress
           </button>
 
           <button class="btn-buy">Rs 749/mon</button>
         </div>
 
         <div class="card">
           <img
             src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/6031/hero/1709238202.jpg"
             alt="Bedroom Set 5"
             class="card-img"
           />
           <!-- <h2><a href="/bed5" class="btn-buy"></a></h2> -->
           <button class="btn-buy" (click)="bed5()">
             Blanca Engineered Wood Single Bed with 6" Premium Mattress
           </button>
 
           <button class="btn-buy">Rs 800/mon</button>
         </div>
 
         <div class="card">
           <img
             src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products_v3/3491/gallery_1.jpg"
             alt="Bedroom Set 6"
             class="card-img"
           />
           <!-- <h2><a href="/bed6" class="btn-buy"></a></h2> -->
           <button class="btn-buy" (click)="bed6()">
             Haimish Engineered Wood King Bed with 6" Premium Mattress
           </button>
 
           <button class="btn-buy">Rs 300/mon</button>
         </div>
 
         <div class="card">
           <img
             src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/3467/gallery_1.jpg"
             alt="Bedroom Set 7"
             class="card-img"
           />
           <!-- <h2><a href="/bed7" class="btn-buy"></a></h2> -->
           <button class="btn-buy" (click)="bed7()">
             Bordo Solid Wood Queen Bed with 6" Premium Mattress
           </button>
 
           <button class="btn-buy">Rs300/mon</button>
         </div>
 
         <div class="card">
           <img
             src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/6549/hero/gallery_1.jpg"
             alt="Bedroom Set 8"
             class="card-img"
           />
           <!-- <h2><a href="/bed8" class="btn-buy"></a></h2> -->
           <button class="btn-buy" (click)="bed8()">
             LIT Double Bed with 4 Inch Premium Mattress
           </button>
 
           <button class="btn-buy">1200/mon</button>
         </div>
       </div>
     </div>
     <br /><br />
     <app-footer></app-footer>
   </body>
 </html>
 <!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bedroom Collection</title>
    <link rel="stylesheet">
</head>
<body>

<div class="container">
    <h1 style="text-align: center; margin-top: 40px; font-size:40px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Bedroom Collection</h1>
    <div class="card-grid">
        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/134/hero/gg1.jpg" alt="Bedroom Set 1" class="card-img">
            <button class="btn-buy" (click)="bed1()"> Orthopaedic Mattress Queen Size</button>

            <button class="btn-buy">Rs 19000</button>
        </div>
        
        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/6967/hero/gallery_1.jpg" alt="Bedroom Set 2" class="card-img">

            <button class="btn-buy" (click)="bed2()">Stanz Double Bed with 4 Inch Premium Mattress</button>


            <button class="btn-buy">Rs 16000</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r1/products/3828/gallery_1.jpg" alt="Bedroom Set 3" class="card-img">
           
            <button class="btn-buy" (click)="bed3()">Mojave Queen Bed with 6" Premium Queen Mattress</button>


            <button class="btn-buy">Rs 18490</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/3461/gallery_1.jpg" alt="Bedroom Set 4" class="card-img">
            <button class="btn-buy" (click)="bed4()">Blanca Engineered Wood Queen Bed with 6" Premium Mattress</button>

            <button class="btn-buy">Rs 17490 </button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/6031/hero/1709238202.jpg" alt="Bedroom Set 5" class="card-img">
            <button class="btn-buy" (click)="bed5()">Blanca Engineered Wood Single Bed with 6" Premium Mattress</button>

            <button class="btn-buy">Rs 18800</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products_v3/3491/gallery_1.jpg" alt="Bedroom Set 6" class="card-img">
            <button class="btn-buy" (click)="bed6()">Haimish Engineered Wood King Bed with 6" Premium Mattress</button>


            <button class="btn-buy">Rs 23000</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/3467/gallery_1.jpg" alt="Bedroom Set 7" class="card-img">
            <button class="btn-buy" (click)="bed7()">Bordo Solid Wood Queen Bed with 6" Premium Mattress</button>



            <button class="btn-buy">Rs23000</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/6549/hero/gallery_1.jpg" alt="Bedroom Set 8" class="card-img">
            <button class="btn-buy" (click)="bed8()">LIT Double Bed with 4 Inch Premium Mattress</button>

            <button class="btn-buy">12000</button>
        </div>

    <p> {{all_good.}} </p>
        
    </div>
</div><br><br>
<app-footer></app-footer>
</body>
</html> -->

























