<app-nav></app-nav>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LivingRoom Collection</title>
    <link rel="stylesheet">
</head>
<body>

<div class="container">
    <h1 style="text-align: center; margin-top: 40px; font-size:40px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">LivingRoom Collection</h1>
    <div class="card-grid">
        <!-- Bedroom Cards 1 to 20 -->
        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/222/gallery_5.jpg" alt="Bedroom Set 1" class="card-img">
            <!-- <h2><a  href="/liv1" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="living1()">Noah Fabric 3 Seater Sofa in Turquoise Color</button>

            
            <button class="btn-buy">Rs 20000</button>
        </div>
        
        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/3452/gallery_1.jpg" alt="Bedroom Set 2" class="card-img">
            <!-- <h2><a href="/liv2" class="btn-buy">Stretch Leatherette Recliner in Dark Brown Color</a></h2> -->
            <button class="btn-buy" (click)="living2()">Stretch Leatherette Recliner in Dark Brown Color</button>

            <button class="btn-buy">Rs 11100</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/6752/hero/gallery_1.jpg" alt="Bedroom Set 3" class="card-img">
            <!-- <h2><a href="/liv3" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="living3()">Ella Fabric 3 Seater Sofa in Moroccan Blue Color</button>

            <button class="btn-buy">Rs 11200</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/5900/hero/1702711018.jpg" alt="Bedroom Set 4" class="card-img">
            <!-- <h2><a href="/liv4" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="living4()">Lana Fabric Sofa Cum Bed in Denim Blue Color</button>

            <button class="btn-buy">Rs 13000</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/228/gallery_2.png" alt="Bedroom Set 5" class="card-img">
            <!-- <h2><a href="/liv5" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="living5()">Elvis Velvet 3 Seater Sofa in Mineral Blue Color</button>

            <button class="btn-buy">Rs 39000</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/5919/hero/1706170007.jpg" alt="Bedroom Set 6" class="card-img">
            <!-- <h2><a href="/liv6" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="living6()">Noah Fabric 3 Seater Sofa in Grace Denim Color</button>

            <button class="btn-buy">Rs 28500</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/6674/hero/gallery_1.jpg" alt="Bedroom Set 7" class="card-img">
            <!-- <h2><a href="/liv7" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="living7()">Helio Velvet 3 Seater Sofa in Desert Rose Color</button>

            <button class="btn-buy">Rs 23870</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/6675/hero/gallery_1.jpg" alt="Bedroom Set 8" class="card-img">
            <!-- <h2><a href="/liv8" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="living8()">Cleo Velvet 3 Seater Sofa in Sapphire Blue Color</button>

            <button class="btn-buy">Rs 21770</button>
        </div>

      
        
    </div>

    
</div><br><br>
<app-footer></app-footer>
</body>
</html>




