<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LivingRoom Collection</title>
    <link rel="stylesheet">
</head>
<body>

<div class="container">
    <h1 style="text-align: center; margin-top: 40px; font-size:40px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> Table Collection</h1>
    <div class="card-grid">
        <!-- Bedroom Cards 1 to 20 -->
        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/c_scale,f_auto,q_auto:eco,fl_progressive,dpr_2.0,w_150/r2/products/3627/plp_1.png" alt="Bedroom Set 1" class="card-img">
            <h2><a  href="/subliving" class="btn-buy">Kapa Engineered Wood Center Table</a></h2>
            
            <button class="btn-buy">Rs 500/mon</button>
        </div>
        
        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/c_scale,f_auto,q_auto:eco,fl_progressive,dpr_2.0,w_150/r2/products/328/plp_1.png  " alt="Bedroom Set 2" class="card-img">
            <h2><a href="/subliving" class="btn-buy">DANK Engineered Wood Study Table</a></h2>
            <button class="btn-buy">Rs 700/mon</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/c_scale,f_auto,q_auto:eco,fl_progressive,dpr_2.0,w_150/r1/products/3407/plp_1.png "  alt="Bedroom Set 3" class="card-img">
            <h2><a href="/subliving" class="btn-buy">Boho Earth Solid Wood Coffee Table in Teak Finishr</a></h2>
            <button class="btn-buy">Rs 400/mon</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/c_scale,f_auto,q_auto:eco,fl_progressive,dpr_2.0,w_150/r2/products/191/plp_1.png " alt="Bedroom Set 4" class="card-img">
            <h2><a href="/subliving" class="btn-buy">Mili Solid Wood Coffee Table in Teak Finish</a></h2>
            <button class="btn-buy">Rs 350/mon</button>
        </div>

        <div class="card">
            <img src=" https://assets.furlenco.com/image/upload/c_scale,f_auto,q_auto:eco,fl_progressive,dpr_2.0,w_150/r1/products/3792/plp_1.png" alt="Bedroom Set 5" class="card-img">
            <h2><a href="/subliving" class="btn-buy">Kayra Solid Wood 4 Seater Dining Table in Timeless Teak Finish</a></h2>
            <button class="btn-buy">Rs 600/mon</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/c_scale,f_auto,q_auto:eco,fl_progressive,dpr_2.0,w_150/r2/products/3577/plp_1.png " alt="Bedroom Set 6" class="card-img">
            <h2><a href="/subliving" class="btn-buy">Linie Solid Wood Bedside TableIn Teak Finish</a></h2>
            <button class="btn-buy">Rs 500/mon</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/c_scale,f_auto,q_auto:eco,fl_progressive,dpr_2.0,w_150/plutus/products/6638/thumbnail/plp_1.png " alt="Bedroom Set 7" class="card-img">
            <h2><a href="/subliving" class="btn-buy">FOMO Engineered Wood Nested Center Table with 4 Pouffs in Mushroom Beige Finish</a></h2>
            <button class="btn-buy">Rs 600/mon</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/c_scale,f_auto,q_auto:eco,fl_progressive,dpr_2.0,w_150/r2/products/42/plp_1.png " alt="Bedroom Set 8" class="card-img">
            <h2><a href="/subliving" class="btn-buy">Pico Solid Wood Bedside Table in Teak Finish</a></h2>
            <button class="btn-buy">Rs 500/mon</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/c_scale,f_auto,q_auto:eco,fl_progressive,dpr_2.0,w_150/r2/products/214/plp_1.png   " alt="Bedroom Set 9" class="card-img">
            <h2><a href="/subliving" class="btn-buy">Lana Engineered Wood Study Table in Teak Finish</a></h2>
            <button class="btn-buy">Rs 650/mon</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/c_scale,f_auto,q_auto:eco,fl_progressive,dpr_2.0,w_150/r2/products/212/plp_1.png " alt="Bedroom Set 10" class="card-img">
            <h2><a href="/subliving" class="btn-buy">Lusido Engineered Wood Study Table in Ivory White Finish</a></h2>
            <button class="btn-buy">Rs 500/mon</button>
        </div>
        
    </div>
</div><br><br>
<app-footer></app-footer>
</body>
</html>



