<app-nav></app-nav>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LivingRoom Collection</title>
    <link rel="stylesheet">
</head>
<body>

<div class="container">
    <h1 style="text-align: center; margin-top: 40px; font-size:40px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Study Collection</h1>
    <div class="card-grid">
   
        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/6155/hero/1713422514.jpg" alt="Bedroom Set 1" class="card-img">
            <!-- <h2><a href="/study1" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="study1()">Lana Workstation with Mono Office Chair</button>

            <button class="btn-buy">Rs 10000</button>
        </div>
        
        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/216/gallery_1.jpg" alt="Bedroom Set 2" class="card-img">
            <!-- <h2><a href="/study2" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="study2()">Cruxe Mid Back Office Chair with Mesh Back & Fixed Arms in Black Color</button>

            <button class="btn-buy">Rs 10500</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/6551/hero/gallery_1.jpg" alt="Bedroom Set 3" class="card-img">
            <!-- <h2><a href="/study3" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="study3()">NO CAP Workstation</button>

            <button class="btn-buy">Rs 11000</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/3768/gallery_1.jpg" alt="Bedroom Set 4" class="card-img">
            <!-- <h2><a href="/study4" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="study4()">Lana Workstation</button>

            <button class="btn-buy">Rs 10500</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/plutus/products/6553/hero/gallery_1.jpg" alt="Bedroom Set 5" class="card-img">
            <!-- <h2><a href="/study5" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="study5()">DANK Workstation with Side Storage</button>


            <button class="btn-buy">Rs 11433</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r1/products/3824/gallery_1.jpg" alt="Bedroom Set 6" class="card-img">
            <!-- <h2><a href="/study6" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="study6()">Moreno Workstation</button>

            <button class="btn-buy">Rs 19400</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/3769/gallery_1.jpg" alt="Bedroom Set 7" class="card-img">
            <!-- <h2><a href="/study7" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="study7()">Lusido Workstation</button>

            <button class="btn-buy">Rs 10199</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/dpr_1.0,f_auto,q_auto/v1/r2/products/3771/gallery_1.jpg" alt="Bedroom Set 8" class="card-img">
            <!-- <h2><a href="/study8" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="study8()">Vitello Workstation</button>

            <button class="btn-buy">Rs 11599/Mon</button>
        </div>

               
    </div>
</div>




<br><br>
<app-footer></app-footer>
</body>
</html>





