/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styling */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Container for the checkout form */
  .checkout-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  /* Form styling */
  .checkout-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    padding: 12px;
    background-color: #6b625c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #2c2a27;
  }
  
  button:focus {
    outline: none;
  }


  .btn btn-proceed{
    display: block;
    width: 70%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
   
  }
  .btn-proceed:first-of-type {
    background-color: #6b625c;
    color: #fff;
    margin-bottom: 10px;
    margin-left: 20px;
    font-weight: bold;
  }
  
  .btn-proceed:first-of-type:last-of-type {
    background-color:  #6b625c;
    color: #000;
  }
  
  .btn-proceed:hover {
    opacity: 0.9;
    background-color: #2c2a27;
  }
  