/* General styling for the body */
body {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Styling for the contact form container */
.contact-container {
    background-color: #9A7E6F;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-left: 550px;
    margin-top: 60px;
}

/* Hover effect for the contact form container */
.contact-container:hover {
    transform: translateY(-10px);
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.3);
}

/* Styling for the form title */
.form-title {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Form group styling */
.form-group {
    margin-bottom: 20px;
  
}

/* Styling for the form labels */
.form-group label {
    color: white;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Styling for the input fields and textarea */
.form-control {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

/* Submit button styling */
.btn-submit {
    background-color: #3d352f;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect for the submit button */
.btn-submit:hover {
    background-color: #2c2a27;
}

/* Adding focus styling to input fields */
.form-control:focus {
    outline: none;
    border: 2px solid #3d352f;
}








