<app-nav></app-nav>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chair Collection</title>
    <link rel="stylesheet">
</head>
<body>

<div class="container">
    <h1 style="text-align: center; margin-top: 40px; font-size:40px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Chair Collection</h1>
    <div class="card-grid">
<!--      
        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/c_scale,f_auto,q_auto:eco,fl_progressive,dpr_2.0,w_150/r2/products/193/plp_1.png " alt="Bedroom Set 1" class="card-img">
            <button class="btn-buy" (click)="chairs1()">Marbello Fabric Accent Chair in Beige Color</button>

            <button class="btn-buy">Rs 4000</button>
        </div> -->
        
        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/c_scale,f_auto,q_auto:eco,fl_progressive,dpr_2.0,w_150/plutus/products/6154/thumbnail/1713789912.png " alt="Bedroom Set 2" class="card-img">

            <!-- <h2><a href="/subchairs/chair2" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="chairs2()">Mono Mid Back Office Chair with Mesh Back & Fixed Arms in Black Color</button>


            <button class="btn-buy">Rs 2500</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/c_scale,f_auto,q_auto:eco,fl_progressive,dpr_2.0,w_150/r2/products/3576/plp_1.png " alt="Bedroom Set 3" class="card-img">
           
            <!-- <h2><a href="/subchairs/chair3" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="chairs3()">Glen Solid Wood and Upholstered Bar Stool In Walnut Finish</button>


            <button class="btn-buy">Rs 3500</button>
        </div>

        <div class="card">
            <img src="https://assets.furlenco.com/image/upload/c_scale,f_auto,q_auto:eco,fl_progressive,dpr_2.0,w_150/r2/products/216/plp_1.png" alt="Bedroom Set 4" class="card-img">
            <!-- <h2><a href="/subchairs/chair4" class="btn-buy"></a></h2> -->
            <button class="btn-buy" (click)="chairs4()">Cruxe Mid Back Office Chair with Mesh Back & Fixed Arms in Black Color</button>

            <button class="btn-buy">Rs 4000  </button>
        </div>

        <!-- <div class="card">
            <img src=" https://assets.furlenco.com/image/upload/c_scale,f_auto,q_auto:eco,fl_progressive,dpr_2.0,w_150/r2/products/221/plp_1.png" alt="Bedroom Set 5" class="card-img">
            <button class="btn-buy" (click)="chairs5()">Robo Mid Back Office Chair with Mesh Back & Fixed Arms in Maroon Color</button>

            <button class="btn-buy">Rs 3400</button>
        </div> -->
    </div>
</div><br><br>
<app-footer></app-footer>
</body>
</html>
